/*universal selector*/
* {
    box-sizing: border-box;
}


/* Change Body Color */
body {
    background-color: rgb(27, 205, 169);
}


/* Change the Menu Style */
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.size_icon {
  font-size: 25px;
}


.menu_drop>li>a {
  text-align: center;
  color: aliceblue;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid rgb(10, 9, 9);
  font-size: 27px;
  font-weight: bold;
  padding: 18px;
  display: block;
  text-decoration: none;
  min-width: 50px;
}



/*Nested list*/
.menu_drop>li>ul>li>a {
  text-align: center;
  color: aliceblue;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid rgb(10, 9, 9);
  font-size: x-large;
  font-weight: bold;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}


/*List and nested list*/
.menu_drop li>a:hover {
  background-color: #000000;
  color: white;
}

  
/*By default the nested list is hidden*/
.menu_drop>li>ul{
  display: none;
  position: absolute; /*the dropdown is over the content*/
}


/*When you (hovering) roll the cursor over the item, the drop-down-menu appears*/
.menu_drop>li:hover> ul {
  display:block;
}


.menu_pc {
  display: none;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: 30px;
}    
 

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 400px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}


.menu_movil {
  display: none;
}

.menu_pc {
  display: flex;
}
}



@media only screen and (min-width: 700px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


/* Change the Footer Style */
footer {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/555e34d4e4b0b265dc64c749/1434572501577-MG49S8F2UX9VX4CRWH33/footer-background-image1.png?format=2500w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }


  .text {
    display: inline;
    color: black;
    background-color: rgb(238, 189, 126);
  }


  .color:hover {
    background-color: rgb(168, 130, 130); 
}


  .go-top {
    display: flex;
    justify-content: end;
}


/* Adjust the size of the image */ 
.go-top img {
    width: 60px; 
    height: 60px;
    border: 4px solid rgb(13, 76, 26);
    border-radius: 15px;
}


/* Add hover effect */
.go-top img:hover {
  opacity: 0.7; 
}

